# macOS
.DS_Store

# SwiftPM
.build/
.swiftpm/
Package.resolved

# Xcode user data
**/*.xcworkspace/xcuserdata/
**/*.xcodeproj/project.xcworkspace/xcuserdata/
**/*.xcodeproj/xcuserdata/

# Xcode derived data (if placed inside repo by custom settings)
DerivedData/

# Example app build products
**/Build/

# Java heap dumps (safety)
java_pid*.hprof
*.hprof
hs_err_pid*.log
replay_pid*.log

# IDE
.idea/
.vscode/
**/*.xcuserstate

# Package managers
Pods/
Carthage/
Carthage/Build/
Carthage/Checkouts/

# Archives and symbols
*.xcarchive
*.ipa
*.dSYM
*.dSYM.zip

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*
fastlane/test_output/**/*
fastlane/readme.md

# Misc
*.moved-aside
*.swp
*.mobileprovision
*.provisionprofile

